{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}

    <div class="inner-banner text-center">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
               
                <li>
                    <span>Products</span>
                </li>
            </ul><!-- /.breadcrumb -->
            <h1>compliances</h1>
        </div><!-- /.container -->
    </div><!-- /.inner-banner -->
    <section class="video-box-style-four solutions-details-page hr-strategy">
        <div class="container-fluid">
            <div class="heading">
                <h3>Key Features</h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="hr-task">
                        <h2>TRIGGER TASK</h2>
                        <p>With ADITSH HR, you can set automatic triggers basis the effective date of a particular task. If necessary, you can also retrigger a particular task.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hr-task">
                        <h2>TASK ASSIGNMENT</h2>
                        <p>With ADITSH HR, you can set automatic triggers basis the effective date of a particular task. If necessary, you can also retrigger a particular task.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hr-task">
                        <h2>DATA VISIBILITY</h2>
                        <p>With ADITSH HR, you can set automatic triggers basis the effective date of a particular task. If necessary, you can also retrigger a particular task.</p>
                    </div>
                </div>
               
                
            </div>
        </div>
    </section>
    <section class="video-box-style-four sec-pad solutions-details-page">
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <div class="video-box-content">
                        <div class="sec-title">
                            <span>ADITSH HR time benefits</span>
                            <h2>Making the right decisions <br> is easy when you can see <br> the big picture</h2>
                        </div><!-- /.sec-title -->
                        <p>Aditsh HR Time comes with all the benefits of Payonline Time Essentials, wary eye on employees who might bend the rules. Gain back that time - and your sanity plus advanced capabilities to help create even more efficiencies, including:</p>
                        <ul class="list-items">
                            <li><i class="fa fa-check-circle"></i>Additional punch options</li>
                            <li><i class="fa fa-check-circle"></i>Visual scheduling</li>
                            <li><i class="fa fa-check-circle"></i>Employee dashboard</li>
                            <li><i class="fa fa-check-circle"></i>Geolocation and geofencing</li>
                        </ul>
                    </div><!-- /.video-box-content -->
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6 d-flex">
                    <div class="video-box my-auto">
                        <img src="{% static "frontend/images/video-3-1.jpg" %}" alt="Awesome Image"/>
                        <div class="box">
                            <!-- <a href="https://www.youtube.com/watch?v=W5BXPql9sfQ" class="video-popup">
                                <i class="fa fa-play"></i>
                                <span class="btn-tag-line">Learn about payonline <i class="payonline-icon-share"></i></span>
                            </a> -->
                        </div>
                    </div><!-- /.video-box -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.video-box-style-four -->


{% endblock %}
{% block script_code %}

{% endblock %}
