{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}

    <div class="inner-banner text-center">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
               
                <li>
                    <span>Products</span>
                </li>
            </ul><!-- /.breadcrumb -->
            <h1>price</h1>
        </div><!-- /.container -->
    </div><!-- /.inner-banner -->

    <section class="sec-pad service-style-four pricing">
        <div class="container">
            <div class="sec-title text-center">
                <!-- <span>Business insurance</span> -->
                <h2>Premium Prices</h2>
            </div><!-- /.sec-title text-center -->
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="single-service-four hvr-sweep-to-top d-flex text-center">
                        <div class="inner-box my-auto">
                            <i class="payonline-icon-employee"></i>
                            <h3><a href="#">Workers compensation</a></h3>
                            <p>Most states require certain employers to carry workers compensation insurance.</p>
                            <div class="price">
                                <p><span class="fa fa-inr"></span> 400</p>
                            </div>
                        </div><!-- /.inner-box -->
                    </div><!-- /.single-service-four d-flex -->
                </div><!-- /.col-md-3 -->
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="single-service-four hvr-sweep-to-top d-flex text-center">
                        <div class="inner-box my-auto">
                            <i class="payonline-icon-umbrella"></i>
                            <h3><a href="#">Umbrella insurance</a></h3>
                            <p>Give your business an extra layer of protection with an umbrella policy</p>
                            <div class="price">
                                <p><span class="fa fa-inr"></span> 400</p>
                            </div>
                        </div><!-- /.inner-box -->
                    </div><!-- /.single-service-four d-flex -->
                </div><!-- /.col-md-3 -->
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="single-service-four hvr-sweep-to-top d-flex text-center">
                        <div class="inner-box my-auto">
                            <i class="payonline-icon-skyline"></i>
                            <h3><a href="#">Property insurance</a></h3>
                            <p>Don’t let your physical assets, such as buildings, equipment, computers.</p>
                            <div class="price">
                                <p><span class="fa fa-inr"></span> 400</p>
                            </div>
                        </div><!-- /.inner-box -->
                    </div><!-- /.single-service-four d-flex -->
                </div><!-- /.col-md-3 -->
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="single-service-four hvr-sweep-to-top d-flex text-center">
                        <div class="inner-box my-auto">
                            <i class="payonline-icon-users"></i>
                            <h3><a href="#">Business owner policy</a></h3>
                            <p>Potentially save money on your business insurance policies</p>
                            <div class="price">
                                <p><span class="fa fa-inr"></span> 400</p>
                            </div>
                        </div><!-- /.inner-box -->
                    </div><!-- /.single-service-four d-flex -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.sec-pad service-style-four -->


{% endblock %}
{% block script_code %}

{% endblock %}
